<footer role="contentinfo" aria-label="Footer" class="br-footer layout-simple">
  <div class="container-fluid footer-logo-section">
    <div class="logo text-sm-left">
      <a rel="noopener noreferrer" href="https://servicos.receitafederal.gov.br" target="_self">
        <img class="imagem-logo" src="/static/logo-receita.png" alt="Portal de Serviços do Contribuinte">
      </a>
    </div>
    <section class="d-none d-sm-block secondary-info">
      <div class="row align-items-top justify-content-between py-5">
        <div aria-label="Redes Sociais" class="col social-network">
          <p class="text-up-01 text-extra-bold text-uppercase">Redes Sociais</p>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://www.facebook.com/receitafederaloficial" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f social-media-button" aria-hidden="true"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://www.instagram.com/receita_federal" aria-label="Instagram">
            <i class="fa-brands fa-instagram social-media-button" aria-hidden="true"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://x.com/receitafederal" aria-label="X (Twitter)">
            <i class="fa-brands fa-x-twitter social-media-button" aria-hidden="true"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://www.linkedin.com/company/receita-federal" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin-in social-media-button" aria-hidden="true"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://www.youtube.com/TVReceitaFederal" aria-label="YouTube">
            <i class="fa-brands fa-youtube social-media-button" aria-hidden="true"></i>
          </a>
          <a target="_blank" rel="noopener noreferrer" class="mr-3 br-button circle small" href="https://www.gov.br/receitafederal" aria-label="Site Institucional">
            <i class="fa-solid fa-globe social-media-button" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
  <section aria-label="Informações Legais" class="container-fluid">
    <span class="br-divider my-3"></span>
    <div class="info">
      <div class="text-down-01 text-medium pb-3">
        <strong>
          <a href="https://www.gov.br/receitafederal/pt-br/acesso-a-informacao/lgpd/termo-de-uso" target="_blank" rel="noopener noreferrer">Termos de Uso</a>
        </strong>
         | 
        <strong>
          <a href="https://www.gov.br/receitafederal/pt-br/canais_atendimento/digital" target="_blank" rel="noopener noreferrer">Sobre</a>
        </strong>
      </div>
    </div>
  </section>
</footer>
